<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>カード-01</title>
    <link rel="stylesheet" href="card-01.css">
    <link rel="stylesheet" href="../../shared/base.css">
    <link rel="stylesheet" href="../../shared\components.css">
</head>

<body>
    <h1>カード-01</h1>
    <div class="card-01-wrap">
        <a href="https://morld.co.jp/" class="card-01 card-01--a">
            <div class="card-01__image">
                <img src="../../assets/sample-01.jpg" alt="">
            </div>
            <div class="card-01__content">
                <h3>タイトル</h3>
                <div class="line-01"></div>
                <p>ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。</p>
            </div>
            <div class="circle-zoom-btn">
                <div class="circle-zoom-btn__bg"></div>
                <span class="circle-zoom-btn__icon">→</span>
            </div>
        </a>

        <a href="https://morld.co.jp/" class="card-01 card-01--b">
            <div class="card-01__image">
                <img src="../../assets/sample-01.jpg" alt="">
            </div>
            <div class="card-01__content">
                <h3>タイトル</h3>
                <div class="line-01"></div>
                <p>ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。</p>
            </div>
            <div class="circle-zoom-btn">
                <div class="circle-zoom-btn__bg"></div>
                <span class="circle-zoom-btn__icon">→</span>
            </div>
        </a>

        <a href="https://morld.co.jp/" class="card-01 card-01--c">
            <div class="card-01__image">
                <img src="../../assets/sample-01.jpg" alt="">
            </div>
            <div class="card-01__content">
                <h3>タイトル</h3>
                <div class="line-01"></div>
                <p>ここに説明が入ります。</p>
            </div>
            <div class="circle-zoom-btn">
                <div class="circle-zoom-btn__bg"></div>
                <span class="circle-zoom-btn__icon">→</span>
            </div>
        </a>
    </div>

</body>

</html>