/* ---------- カード01 ---------- */
.card-01-wrap {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card-01 {
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  padding: 2rem;
  position: relative;
  transition: 0.3s ease;
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  box-sizing: border-box;
}

.card-01 .line-01 {
  width: 20%;
  background-color: #fff;
}

.card-01 h3 {
  margin: 1rem 0 0 0;
  font-size: 3rem;
  font-weight: bold;
}
.card-01 p {
  margin: 0;
}

.card-01--a {
  background-color: #f8a13d;
}
.card-01--b {
  background-color: #e0b800;
}
.card-01--c {
  background-color: #d4a017;
}

.card-01__image img {
  border-radius: 8px;
}

/* ホバーの挙動 */
.card-01:hover .circle-zoom-btn__bg {
  transform: scale(1.3);
}
/* ---------- /カード01 ---------- */
