/* ---------- サイト全体の共通スタイル ---------- */
/* 余計な余白をリセット */
* {
  box-sizing: border-box;
}

/* リンクの装飾を削除 */
a {
  text-decoration: none;
  color: inherit;
}

/* 画像が親要素をはみ出さないように */
img {
  max-width: 100%;
  height: auto;
  display: block; /* inlineだとline-heightの影響で下に空白ができるので対策 */
}
/* ---------- サイト全体の共通スタイル END ---------- */
