/* ---------- マーキー ---------- */
.marquee-wrap {
  width: 100%; /* マーキーの横幅 */
  overflow: hidden;
  white-space: nowrap;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite; /* スクロールのスピード */
}

.marquee span {
  font-size: 10rem; /* フォントサイズ */
  font-weight: 800; /* フォントの太さ */
  color: #ffdd80dc; /* フォントの色 */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* ---------- /マーキー ---------- */
