<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>CSS無限ループ風スライダー</title>
    <link rel="stylesheet" href="slider-loop.css">
    <link rel="stylesheet" href="../shared/base.css">
</head>

<body>

    <div class="slider-loop">
        <div class="slider-loop-track">
            <img src="../../assets/sample-01.jpg" alt="1">
            <img src="../../assets/sample-01.jpg" alt="2">
            <img src="../../assets/sample-01.jpg" alt="3">
            <img src="../../assets/sample-01.jpg" alt="4">
            <!-- ダミーで繰り返し -->
            <img src="../../assets/sample-01.jpg" alt="1">
            <img src="../../assets/sample-01.jpg" alt="2">
            <img src="../../assets/sample-01.jpg" alt="3">
            <img src="../../assets/sample-01.jpg" alt="4">
        </div>
    </div>

</body>

</html>