<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会社案内</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../shared/base.css">
</head>

<body class="container">
    <section class="about">
        <div class="about__content">
            <!-- --- 見出し01 --- -->
            <h2 class="heading-01">
                <span class="heading-sub">会社案内</span>
                <span class="heading-main">About</span>
            </h2>
            <!-- --- /見出し01 --- -->
            <p>ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。
            </p>
        </div>

        <!-- 画像群 -->
        <div class="about__imgs">
            <img src="../../assets/sample-01.webp" class="img-1">
            <img src="../../assets/sample-02.webp" class="img-2">
            <img src="../../assets/sample-03.webp" class="img-3">
        </div>
        <!-- /画像群 -->
    </section>
</body>

</html>