/* --- 会社案内01 --- */
.about-01 {
  display: flex;
}

.about-01__content {
  flex: 2; /* 文字欄の幅 */
}

.about-01__imgs {
  position: relative; /* 画像の位置を相対的に配置 */
  flex: 3; /* 画像欄の幅 */
  aspect-ratio: 1; /* 比率を変えたいときはここを調整 */
}

/* 画像ごとの配置位置 */
.img-1 {
  top: 0; /* 上からの位置 */
  left: 5%; /* 左からの位置 */
  width: 40%; /* 画像の幅 */
  aspect-ratio: 3 / 4; /* アスペクト比を指定 */
}
.img-2 {
  top: 10%;
  left: 50%;
  width: 50%; /* 画像の幅 */
  aspect-ratio: 3 / 4; /* アスペクト比を指定 */
}

.img-3 {
  top: 60%;
  left: 10%;
  width: 70%; /* 画像の幅 */
  aspect-ratio: 16 / 9; /* アスペクト比を指定 */
}

/* --- /会社案内01 --- */

/* --- フェードスライダー --- */
/* フェードスライダー全体の枠設定 */
.slider-fade {
  position: absolute;
}

/* スライド画像の共通スタイル */
.slide-item {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; /* 角丸 */
  opacity: 0;
  transform: translateY(30px); /* 30px 下に隠す */
  animation: fade 8s infinite; /* 画像枚数 × 4秒 */
}

/* 各画像にアニメーションの開始タイミングを指定 ※画像を増やした場合はここに追加する */
.slide-item:nth-child(1) {
  animation-delay: 0s;
}
.slide-item:nth-child(2) {
  animation-delay: 4s;
}

.img-2 .slide-item:nth-child(1) {
  animation-delay: 0.5s;
}
.img-2 .slide-item:nth-child(2) {
  animation-delay: 4.5s;
}

.img-3 .slide-item:nth-child(1) {
  animation-delay: 1s;
}
.img-3 .slide-item:nth-child(2) {
  animation-delay: 5s;
}

/* フェードイン・アウトのアニメーション定義 ※表示の長さを調整したいときはここの%を編集 */
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(30px); /* 30px 下に隠す */
  }
  5% {
    opacity: 1;
    transform: translateY(0); /* 元の位置に戻す */
  }
  30% {
    opacity: 1;
    transform: translateY(0); /* 元の位置に戻す */
  }
  35% {
    opacity: 0;
    transform: translateY(-30px); /* 30px 上に隠す */
  }
  100% {
    opacity: 0;
    transform: translateY(-30px); /* 30px 上に隠す */
  }
}
/* --- /フェードスライダー --- */

/* --- 見出し01 --- */
.heading-01 * {
  margin: 0; /* マージンリセット */
  line-height: 1.25; /* 行間 */
  font-weight: bold; /* フォントの太さ */
}

.heading-01 h3 {
  font-size: 3rem; /* フォントサイズ */
}
/* --- /見出し01 --- */

@media screen and (max-width: 767px) {
  /* --- 会社案内01 --- */
  .about-01 {
    flex-direction: column; /* 縦並びに変更 */
  }
}
