/* ---------- マーキー ---------- */
.marquee-wrap {
  width: 100%; /* マーキーの横幅 */
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 60s linear infinite; /* スクロールのスピード */
}

.marquee span {
  font-size: 10rem; /* フォントサイズ */
  line-height: 1;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* ---------- /マーキー ---------- */

/* ---------- マーキー（画像版） ---------- */
.marquee-wrap-img {
  overflow: hidden;
  width: 100%; /* マーキーの横幅 */
}

/* スライダーの中身を横並びに */
.marquee-track {
  display: flex;
  width: max-content;
  gap: 10px; /* 画像間のスペース */
  animation: marquee-img 20s linear infinite; /* スクロールのスピード*/
}

.marquee-track img {
  width: 500px; /* 横幅 */
  height: 300px; /* 縦幅 */
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 8px; /* 角丸 */
}

/* アニメーション */
@keyframes marquee-img {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* ---------- /マーキー（画像版） ---------- */
