/* コンテンツを中央から左右にはみ出させて、画面幅いっぱいに広げる */
.full-bleed {
  margin-right: calc(50% - 50vw); /* 右を画面幅いっぱいに広げる */
  margin-left: calc(50% - 50vw); /* 左を画面幅いっぱいに広げる */
}

/* --- サービス（共通） --- */
.service {
  padding: 5rem 0; /* 上下の余白 */
  position: relative;
  overflow: hidden;
}

.service__content {
  max-width: 500px; /* 文字欄の最大幅 */
  padding: clamp(2rem, 10vw, 5rem); /* 上下の余白 */
  border-radius: 10px; /* 角丸 */
  background-color: #fff; /* 背景色 */
  position: relative;
  z-index: 1;
  margin-left: auto; /* 右寄せ */
}
/* --- /サービス（共通） --- */

/* --- 見出し01 --- */
.heading-01 * {
  display: block; /* ブロック要素にする */
  margin: 0; /* マージンリセット */
  line-height: 1; /* 行間 */
  font-weight: bold; /* フォントの太さ */
}

.heading-01 .heading-main {
  font-size: clamp(3rem, 10vw, 5rem); /* フォントサイズ */
}
.heading-01 .heading-sub {
  font-size: 1rem; /* フォントサイズ */
}
/* --- /見出し01 --- */

/* ---------- リンクリスト ---------- */
.link-list-01 {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem; /* リンク同士の間隔 */
}

.link-list-01 li a {
  display: flex;
  align-items: center;
  gap: 0.5em; /* アイコンと文字の間隔 */
  font-weight: bold; /* 文字の太さ */
}

/* シンプルな直線矢印アイコン */
.icon-arrow {
  color: #fff; /* アイコン線の色 */
  background-color: #222; /* アイコンの背景色 */
  border: solid 1px #222; /* アイコン背景の線 */
  border-radius: 50%; /* アイコン背景を丸くする */
  width: 2rem; /* アイコンのサイズ */
  height: 2rem; /* アイコンのサイズ */
  padding: 0.5rem; /* アイコンの内側余白 */
  transition: all 0.1s ease; /* アイコンのホバーアニメーションの速度 */
}

/* リンクリストのホバー時 */
.link-list-01 li a:hover .icon-arrow {
  color: #222; /* アイコン線の色 */
  background-color: #fff; /* アイコンの背景色 */
}
/* ---------- /リンクリスト ---------- */

/* --- マーキー（画像版） --- */
.marquee-wrap-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* スライダーの中身を横並びに */
.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee-img 20s linear infinite; /* スクロールのスピード */
}

.marquee-track img {
  width: 500px; /* 横幅 */
  aspect-ratio: 3 / 5; /* アスペクト比を指定 */
  flex-shrink: 0;
  object-fit: cover;
}

/* アニメーション */
@keyframes marquee-img {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* --- /マーキー（画像版） --- */
