/* ---------- アニメーション（IOあり） ---------- */
/* フェードイン */
.fadein {
  opacity: 0;
  transform: translateY(30px); /* 30px 下に隠す */
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.fadein.show {
  opacity: 1;
  transform: translateY(0);
}

/* ぷくっとふくらむ */
.expand {
  transform: scale(0);
  transition: transform 0.5s ease-out;
}
.expand.show {
  transform: scale(1); /* 元の大きさ */
}

/* スライドイン（左から） */
.slidein-l {
  clip-path: inset(0 100% 0 0);
  transition: clip-path 0.8s ease-out;
}
.slidein-l.show {
  clip-path: inset(0);
}

/* ---------- アニメーション（IOあり） END ---------- */
