/* ---------- サイト全体の共通スタイル ---------- */
/* 余計な余白をリセット */
* {
  box-sizing: border-box;
}

/* リンクの装飾を削除 */
a {
  text-decoration: none;
  color: inherit; /* 親要素の色を引き継ぐ */
}

/* 画像 */
img {
  max-width: 100%;
  min-width: 0; /* flexやgridの中でもちゃんと縮んでね！ */
  height: auto;
  display: block; /* 不要な隙間をなくす（インライン扱いを解除） */
  pointer-events: none; /* クリックできないようにする */
}
/* ---------- サイト全体の共通スタイル END ---------- */

body {
  font-size: 16px;
  line-height: 2.4;
}

/* スマホ用：画面幅768px以下でサイズダウン */
@media (max-width: 767px) {
  body {
    font-size: 14px; /* 例：少し小さく */
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* コンテンツを中央から左右にはみ出させて、画面幅いっぱいに広げる */
.full-bleed {
  margin-right: calc(50% - 50vw); /* 右を画面幅いっぱいに広げる */
  margin-left: calc(50% - 50vw); /* 左を画面幅いっぱいに広げる */
}
