/* ---------- 飾り線 ---------- */
.line-01 {
  height: 1px;
  background-color: #ccc;
  margin: 1rem 0;
}
/* ---------- /飾り線 ---------- */

/* ---------- SVGアイコン ---------- */
/* チェックマークアイコン */
.icon-check {
  width: 1rem; /* アイコンの幅 */
  height: 1rem; /* アイコンの高さ */
  color: #222; /*アイコン線の色 */
}

/* ＞アイコン */
.icon-chevron {
  width: 1rem; /* アイコンの幅 */
  height: 1rem; /* アイコンの高さ */
  color: #222; /*アイコン線の色 */
}

/* 右向き矢印アイコン */
.icon-arrow {
  width: 1rem; /* アイコンの幅 */
  height: 1rem; /* アイコンの高さ */
  color: #222; /*アイコン線の色 */
}
/* ---------- /SVGアイコン ---------- */

/* --- べた塗り丸ボタン --- */
/* 右向き矢印アイコン */
.icon-arrow {
  color: #fff; /* アイコン線の色 */
  background-color: #222; /* アイコンの背景色 */
  border: solid 1px #222; /* アイコン背景の線 */
  border-radius: 50%; /* アイコン背景を丸くする */
  width: 2rem; /* 背景のサイズ */
  height: 2rem; /* 背景のサイズ */
  padding: 0.5rem; /* アイコンの内側余白 */
  transition: all 0.1s ease; /* アイコンのホバーアニメーションの速度 */
}

/* ホバー時 */
a:hover .icon-arrow {
  color: #222; /* アイコン線の色 */
  background-color: #fff; /* アイコンの背景色 */
}
/* --- /べた塗り丸ボタン --- */
