/* ---------- 飾り線 ---------- */
.line-01 {
  height: 1px;
  background-color: #ccc;
  margin: 1rem 0;
}
/* ---------- /飾り線 ---------- */

/* ---------- SVGアイコン ---------- */
/* チェックマークアイコン */
.icon-check {
  width: 1rem; /* アイコンの幅 */
  height: 1rem; /* アイコンの高さ */
  color: #222; /*アイコン線の色 */
}

/* 右向き矢印アイコン */
.icon-arrow {
  width: 1rem; /* アイコンの幅 */
  height: 1rem; /* アイコンの高さ */
  color: #222; /*アイコン線の色 */
}

/* シンプルな直線矢印アイコン */
.icon-arrow-simple {
  width: 1rem; /* アイコンの幅 */
  height: 1rem; /* アイコンの高さ */
  color: #222; /*アイコン線の色 */
}
/* ---------- /SVGアイコン ---------- */

/* ---------- アイコンボタン ---------- */
.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px; /* （背景を含めた）アイコンの幅 */
  height: 48px; /* （背景を含めた）アイコンの高さ */
  position: relative;
}

/* ボタン背景 */
.icon-btn__bg {
  position: absolute;
  inset: 0;
  /*background: #fff;  背景色 */
  border-radius: 50%; /* 背景を丸く */
}

/* ホバーの挙動 */
/*
.card-01:hover .icon-btn__bg {
  transform: scale(1.3);
}
*/
/* ---------- /アイコンボタン ---------- */
