/* --- 見出し01 --- */
.heading-01 * {
  display: block; /* ブロック要素にする */
  margin: 0; /* マージンリセット */
  line-height: 1.25; /* 行間 */
  font-weight: bold; /* フォントの太さ */
}

.heading-01 .heading-main {
  font-size: 3rem; /* フォントサイズ */
}
.heading-01 .heading-sub {
  font-size: 1rem; /* フォントサイズ */
}
/* --- /見出し01 --- */

/* --- 小見出し（背景あり） --- */
.heading-s {
  font-size: 1.2rem !important;
  padding: 1rem !important;
  background-color: #8fe04f;
  border-radius: 5px;
}
/* --- 小見出し（背景あり） --- */
