.service-01 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; /* コンテンツの間隔 */
}

.service-01 .section-header * {
  margin: 0; /* マージンリセット */
  line-height: 1; /* 行間 */
  font-weight: bold; /* フォントの太さ */
}

.section-header h3 {
  font-size: 3rem; /* フォントサイズ */
}

.service-01__content {
  flex: 1; /* 文字欄の幅 */
}

.slider-fade {
  margin-left: calc(50% - 50vw); /* スライダーの位置調整 */
  flex: 3; /* スライダーの幅 */
}

/* ---------- アイコンボタン ---------- */
.icon-btn {
  margin-left: auto; /* 一番左に設置 */
}
/* チェックマークアイコン */
.icon-arrow {
  color: #fff; /* アイコン線の色 */
}

/* ボタン背景 */
.icon-btn__bg {
  background-color: #222; /* 背景色 */
}
/* ---------- /アイコンボタン ---------- */
